<div class="container">
    <div class="left-side">
        <div class="title">
            Make Remote Work
        </div>
        <div class="content">
            Get your team in sync, no matter your location. Streamline processes, create team rituals, and watch productivity soar.
        </div>
        <div class="btn">
            <button class="read-more-btn">
                Learn more
            </button>
        </div>
        <div class="client">
            <img src="../../assets/images/client-databiz.svg" alt="">
            <img src="../../assets/images/client-audiophile.svg" alt="">
            <img src="../../assets/images/client-meet.svg" alt="">
            <img src="../../assets/images/client-maker.svg" alt="">
        </div>
    </div>
    <div class="right-side">
        <img src="../../assets/images/image-hero-desktop.png" class="desktop-img" alt="">
        <img src="../../assets/images/image-hero-mobile.png" class="mobile-img" >
    </div>
</div>
